::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #718096;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
